<h1>About Us</h1><br>
<p>This is a paragraph about suburban outfitters. We are an awesome online retail store that everybody should shop at. Just imagine that this paragraph tells you everything you want and more from an online retail store.</p>
<br>
<form>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" ><br>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" ><br>
  
      <button routerLink="/product-list" routerLinkActive="active">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    
  </form>

