<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="25px grid">
        <nav mat-tab-nav-bar fxFlex="100%" fxLayoutAlign="center">
            <a mat-tab-link routerLink="/product-list" routerLinkActive="active">Products</a>
            <a mat-tab-link routerLink="/account" routerLinkActive="active">Update Account</a>
            <a mat-tab-link routerLink="/inventory" routerLinkActive="active">Inventory</a>
            <a mat-tab-link routerLink="/orders" routerLinkActive="active">Your Orders </a>
            <a mat-tab-link routerLink="/shopping-cart" routerLinkActive="active">Your Cart</a>
        </nav>
    </div>
</div>
