
<form class="checkout">
  <div>
    <h1>Customer Information</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Full Name" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <input matInput placeholder="1234 Web Apps Ave." value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>State</mat-label>
      <input matInput placeholder="UT" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Zip</mat-label>
      <input matInput placeholder="84111" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="first.last@gmail.com" value="">
    </mat-form-field>
    <br>
  </div>
  <br><br>
  <h1>Credit Card</h1>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Card Type</mat-label>
      <input matInput placeholder="Visa" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Name on Card</mat-label>
      <input matInput placeholder="ABC XYZ" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Card Number</mat-label>
      <input matInput placeholder="4312 3242 1214 2133" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Expirationr</mat-label>
      <input matInput placeholder="12 25" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Security Code</mat-label>
      <input matInput placeholder="1234" value="">
    </mat-form-field>
  </div>
</form>
