
<h1> Reset Password  </h1>
<form>
  <div class="container">
    <label for="vcode"><b>Validation Code</b></label>
    <input type="text" placeholder="code" name="vcode" >

    <label for="new_psw"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" name="new_psw" >

    <label for="verify_pwd"><b>Verify Password</b></label>
    <input type="password" placeholder="Re-type New Password" name="verify_psw" >

    <button routerLink="/product-list" routerLinkActive="active">Change Password</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
  </div>
</form>
