
<mat-tab-group>
  <mat-tab label="Products">

    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="25px grid">
      <div class="item" fxFlex="23%" *ngFor="let product of products; let i = index">
        <mat-card  (click)="displayProductDetail(product)">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <h2>
              {{product.title}}
            </h2>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </mat-tab>
  <mat-tab label="Update Account">

    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="33%" >
      Update Account
    </div>
    </div>


  </mat-tab>

  <mat-tab label="Your Orders">

    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="33%" >
      Your orders
    </div>
    </div>


  </mat-tab>

  <mat-tab label="Your Cart">

    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="33%" >
      Your Cart
    </div>
    </div>


  </mat-tab>

</mat-tab-group>

